.bmdev__tag {
    display: flex;
    background-color: var(--color-tag-background);
    border: 0;
    border-radius: 12px;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
}