.__bmdev-project{
    display: flex;
    flex-direction: row;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.07), 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
}

.__bmdev-project-thumbnail{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--color-project-background-1);
    padding: 48px;
    border: 0;
    border-radius: 12px 0 0 12px;
}

.__bmdev-project-thumbnail img{
    width: 100%;
    border-radius: 6px;
}

.__bmdev-project-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--color-project-background-2);
    padding: 48px;
    border-radius: 0 12px 12px 0;
    gap: 24px;
}

.__bmdev-project-content h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: var(--color-text-1);
}

.__bmdev-project-content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--color-text-2);
}

.__bmdev-project-technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.__bmdev-project-content-action .icon {
    cursor: pointer;
    transition: transform 0.2s;
}

.__bmdev-project-content-action .icon:hover {
    transform: scale(1.1);
}

@media  screen and (max-width: 1024px) {
    .__bmdev-project{
        flex-direction: column;
    }

    .__bmdev-project-thumbnail{
        padding: 32px;
        border-radius: 12px 12px 0 0;
    }

    .__bmdev-project-content{
        padding: 32px;
        border-radius: 0 0 12px 12px;
    }
}