.bmdev__footer {
    display: flex;
    flex-direction: column;
}

.bmdev__footer-main {
    background: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 80px;
    gap: 48px;
}

.bmdev__footer-main-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bmdev__footer-main-head-tag {
    display: flex;
    background-color: var(--color-tag-background);
    border: 0;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
}

.bmdev__footer-main-head-tag p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: var(--color-tag-text);
}

.bmdev__footer-main-head-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmdev__footer-main-head-text p {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    color: var(--color-text-2);
    text-align: center;
}

.bmdev__footer-main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bmdev__footer-main-contact .icon {
    cursor: pointer;
    transition: transform 0.2s;
}

.bmdev__footer-main-contact .icon:hover {
    transform: scale(1.1);
}

.bmdev__footer-main-contact-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.bmdev__footer-main-contact-email p {
    font-size: 36px;
    font-weight: bolder;
    line-height: 40px;
    color: var(--color-text-1);
}

.bmdev__footer-main-contact-phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.bmdev__footer-main-contact-phone p {
    font-size: 36px;
    font-weight: bolder;
    line-height: 40px;
    color: var(--color-text-1);
}

.bmdev__footer-main-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bmdev__footer-main-extra p {
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    color: var(--color-text-2);
}

.bmdev__footer-main-extra-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.bmdev__footer-main-extra-links .icon {
    cursor: pointer;
    transition: transform 0.2s;
}

.bmdev__footer-main-extra-links .icon:hover {
    transform: scale(1.2);
}

.bmdev__footer-copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 80px;
    background: var(--color-bg-1);
}

.bmdev__footer-copyrights p {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-2);
}

@media  screen and (max-width: 768px) {
    .bmdev__footer-main {
        padding: 64px 16px;
        gap: 24px;
    }

    .bmdev__footer-main-contact-email p {
        font-size: 18px;
        font-weight: bolder;
        line-height: 28px;
        color: var(--color-text-1);
    }

    .bmdev__footer-main-contact-phone p {
        font-size: 18px;
        font-weight: bolder;
        line-height: 28px;
        color: var(--color-text-1);
    }

}