.bmdev__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 80px;
    background: var(--color-bg-2);
}

.bmdev__skills-tag {
    display: flex;
    background-color: var(--color-tag-background);
    border: 0;
    border-radius: 12px;
    height: 28px;
    width: 75px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.bmdev__skills-tag p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: var(--color-tag-text);
}

.bmdev__skills-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.bmdev__skills-text p {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    color: var(--color-text-2);
    text-align: center;
}

.bmdev__skills-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

@media  screen and (max-width: 1050px) {
    .bmdev__skills {
        
        padding: 64px 16px;
    }


    .bmdev__skills-technologies {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
    }
}