.bmdev__hero {
    display: flex;
    flex-direction: row;
    background: var(--color-bg-1);
    padding: 96px 80px;
    gap: 48px;
}

.bmdev__hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 48px;
}

.bmdev__hero-content-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.bmdev__hero-content-text h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--color-text-2);
    margin: 0;
}

.bmdev__hero-content-text p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-text-2);
    margin: 0px;
}

.bmdev__hero-content-info-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 48px;
}

.bmdev__hero-content-info-location p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-text-2);
    margin: 0px;
}

.bmdev__hero-content-info-availability {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.bmdev__hero-content-info-availability p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-text-2);
    margin: 0px;
}

.bmdev__hero-content img {
    width: 100%;
    height: 100%;
}

.bmdev__hero-image {
}

.bmdev__hero-content-links {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.bmdev__hero-content-links .icon {
    cursor: pointer;
    transition: transform 0.2s;
}

.bmdev__hero-content-links .icon:hover {
    transform: scale(1.2);
}


.bmdev__hero-content-info-location .location-icon {
    height: 24px;
    width: 24px;
    color: var(--color-text-2);
}

.bmdev__hero-content-info-availability .ellipse-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

.bmdev__hero-content-info-availability .ellipse-icon {
    height: 8px;
    width: 8px;
    color: #10B981;
}

@media  screen and (max-width: 1050px) {
    .bmdev__hero {
        flex-direction: column-reverse;
        padding: 64px 16px;
        align-items: center;
    }
    .bmdev__hero-image {
        padding-left: 0px;
    }
}