/* scrollbar.css */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb);
}

html {
    scrollbar-width: auto;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
